# 👋 Code owners help maintain this repository and keep it aligned with our technical vision.
# You're responsible for reviewing changes, ensuring quality, and guiding contributors.
# You're also encouraged to help triage issues and keep discussions constructive and focused.
# Ownership can be shared, delegated, or updated as the project evolves.

# For more information about CODEOWNERS, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# This repository is maintained by the following individuals, who are responsible for reviewing and approving changes to the codebase:
# * @pawelrutkaq @PiotrKorkus @kgraeper
# Note: @kgraeper is currently mid-committer-election process, but is already actively maintaining this repository (in an unofficial capacity).

# However as this would create quite a bottleneck, we also want to cast a wider net and encourage the following individuals to also review and approve changes to the codebase.
# PLEASE LEAVE CRITICAL DECISIONS TO THE FIRST GROUP, BUT FEEL FREE TO APPROVE ANYTHING ELSE.
* @pawelrutkaq @PiotrKorkus @kgraeper @nradakovic @dcalavrezo-qorix @AlexanderLanin @MaximilianSoerenPollak @opajonk @lurtz @antonkri @FScholPer
